.chat {
  list-style: none;
  background: none;
  margin: 0;
  padding-bottom: 30px;
}

.messageinput {
  min-width: 100%;
  padding: 15px;
  background-color: red;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}

